.DS_Store
__pycache__/
*.py[cod]
*.zip

python_backend/.runtime/
python_backend/__pycache__/
core/__pycache__/
frontend/dist/

frontend/.env.development
frontend/.env.production
!frontend/.env.production.example

cloudfunctions/*/node_modules/
